
<div class="card border-primary mb-3">
  <div class="card-header">Example 2 Copy to Clipboard</div>
  <div class="card-body text-primary">
    <div class="row">
      <div class="col-6">
          <h6 class="card-title">Click "COPY TO CLICKBOARD" on the right to get the "Text to copy".</h6>
      </div>
      <div class="col-6">
          <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true" ngxClipboard [cbContent]="text" (cbOnSuccess)="isCopied1 = true">COPY TO CLIPBOARD</a>
          <!-- <button class="btn btn-default" [class.btn-success]= "isCopied1" type="button" ngxClipboard [cbContent]="text" (cbOnSuccess)="isCopied1 = true">copy</button>           -->
        </div>
    </div>
    <div class="row">
      <div class="col-12 mt-1 small">
        <!-- <p type="text" [(ngModel)]="text">Text to copy</p> -->
        <input type="text" name="text" class="form-control" [(ngModel)]="text" value="text to be copied">
        <!-- <input class="form-control" type="text" name="fname" value="John"><br> -->
      </div>
    </div>
  </div>
</div>
