
<div class="card border-primary mb-3">
  <div class="card-header">Example 3 Copy to Clipboard</div>
  <div class="card-body text-primary">
    <div class="row">
      <div class="col-6">
          <h6 class="card-title">Click "COPY TO CLICKBOARD" button to get the text below.</h6>
      </div>
      <div class="col-6">
        <button class="btn btn-primary" (click)="copyToClipboard()">COPY TO CLICKBOARD</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-1 small">
        <pre>{{ someText }}</pre>
      </div>
    </div>
  </div>
</div>